# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

#.vscode settings
.vscode/

# Docker logs
*.log

# Mac basura
.DS_Store

# Appointment 
appointment_data.json

# Dependencias de Node.js
node_modules/
dist/

# Docker logs
*.log
docker-compose.override.yml

# IDEs
.idea/
